<div class="row">
  <div class="col-lg-4 offset-lg-4 mt-3">
    <div class="card border-primary mb-3" style="max-width: 25rem;">
      <div class="card-header text-center">Add booking</div>
      <div class="card-body">
        <form [formGroup]="bookingForm">
          <div class="form-floating mb-3">
            <input formControlName="name" type="text" class="form-control" id="floatingInput1" placeholder="Enter the name">
            <label for="floatingInput">Enter the name</label>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="type" type="text" class="form-control" id="floatingInput2" placeholder="Enter the type">
            <label for="floatingInput">Enter the type</label>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="days" type="text" class="form-control" id="floatingInput3" placeholder="Enter the number of days">
            <label for="floatingInput">Enter the number of days</label>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="price" type="text" class="form-control" id="floatingInput4" placeholder="Enter the price">
            <label for="floatingInput">Enter the price</label>
          </div>
        </form>
        <div class="form-buttons d-flex justify-content-between px-3">
          <button type="button" class="btn btn-primary" (click)="addBooking()">Accept</button>
          <button type="button" class="btn btn-secondary" 
          routerLink="/app-dashboard">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

