<div class="row">
  <div class="col-lg-4 offset-lg-4 mt-3">
    <div class="card border-primary mb-3" style="max-width: 25rem;">
      <div class="card-header text-center">{{operation}} booking</div>
      <div class="card-body">
        <app-booking-form></app-booking-form>
        <div class="form-buttons d-flex justify-content-between px-3">
          <button type="button" class="btn btn-primary" 
              (click)="id === 0 ? addBooking() : updateBooking()">
              Accept
          </button>          
          <button type="button" class="btn btn-secondary" 
          routerLink="/app-dashboard">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

