<div class="modal" #myModal tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{operation}} booking</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
         data-bs-target="myModal" aria-label="Close" (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <app-booking-form></app-booking-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" 
        (click)="addBooking()">Accept</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
        (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- (click)="currentdID() === 0 ? addBooking() : updateBooking()">Accept</button> -->
