<div class="container my-2">
  <div class="title">
    <h3>Bookings list</h3>
    <button type="button" class="btn btn-primary"
    (click)="openModal()">Add booking</button>
  </div>
  @if(bookingList().length != 0 ) {
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Days</th>
          <th scope="col">Price</th>
          <th scope="col">Start date</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for(booking of bookingList(); track booking.id){
          <tr class="table-primary">
            <th scope="row">{{booking.name}}</th>
            <td>{{booking.type}}</td>
            <td>{{booking.days}}</td>
            <td>{{booking.price | currency}}</td>
            <td>{{booking.startDate}}</td>
            <td class="modify_buttons">
              <button type="button" class="btn btn-info btn-sm"
              (click)="getBooking(booking.id!)"
              >Edit</button>
              <button type="button" class="btn btn-secondary btn-sm ms-2"
              (click)="deleteBooking(booking.id!)"
              >Delete</button>
            </td>
          </tr>
        }
        
      </tbody>
    </table>
  }
  @else { 
    <h4>No booking to show yet.</h4>
   }
   @if(modalOpen == true) {
    <modify_booking></modify_booking>
   }
   
</div>
