<div class="container my-2">
  <div class="title">
    <h3>Bookings list</h3>
    <button type="button" class="btn btn-primary"
    routerLink="/add"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Add booking</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Days</th>
        <th scope="col">Price</th>
        <th scope="col">ID</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for(booking of bookingsService.bookingList(); track booking.id){
        <tr class="table-primary">
          <th scope="row">{{booking.name}}</th>
          <td>{{booking.type}}</td>
          <td>{{booking.days}}</td>
          <td>{{booking.price | currency}}</td>
          <td>{{booking.id}}</td>
          <td class="modify_buttons">
            <button type="button" class="btn btn-info btn-sm"
            (click)="editBooking(booking.id!)"
            routerLink="/edit/{{booking.id}}"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Edit</button>
            <button type="button" class="btn btn-secondary btn-sm ms-2"
            (click)="bookingsService.deleteBooking(booking.id!)"
            >Delete</button>
          </td>
        </tr>
      }
      
    </tbody>
  </table>
</div>
